@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red400: hsl(3, 86%, 64%);
  --red500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

/* === DARK Mode === */

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--dark-gradient), var(--neutral-300);
  /* background: var(--light-gradient), var(--neutral-0); */
  background-blend-mode: multiply;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
}

.light-bg{
    position: absolute;
    z-index: -10;
    min-height: 100%;
    width: 100vw;
    top: 0;
    background: var(--light-gradient), var(--neutral-0);
  background-blend-mode: multiply;
  display: none;
}

main {
  width: 90vw;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  color: var(--neutral-0);
}

.logo {
  width: 179px;
}

.mode-btn {
  display: flex;
  padding: 10px;
  background-color: var(--neutral-700);
  border-radius: 10px;
  cursor: pointer;
}

.mode-btn:hover {
  background-color: var(--neutral-600);
  transition: all 0.3s ease;
}
/* 
=== active style ==== */
.mode-btn:active {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--neutral-800);
  border-radius: 20px;
  margin: 40px 0;
}

.three-btns {
  display: flex;
  gap: 10px;
}

.h1-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-btn {
  background-color: var(--red400);
  border: none;
  padding: 10px 20px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 600;
  min-width: 80px;
  font-size: 18px;
  border-radius: 100px;
  color: var(--neutral-700);
  cursor: pointer;
}

.active-btn:hover {
  background-color: var(--red500);
  transition: all 0.3s ease;
}

.inactive-btn {
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  padding: 10px 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: var(--neutral-100);
  cursor: pointer;
}

.inactive-btn:hover {
  background-color: var(--neutral-600);
  transition: all 0.3s ease;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: var(--neutral-0);
}

.description {
  color: var(--neutral-300);
}

.remove-btn {
  background: none;
  border: 1px solid var(--neutral-600);
  font-family: "Noto Sans", sans-serif;
  color: var(--neutral-100);
  padding: 8px 12px;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: var(--red400);
  color: var(--neutral-900);
  transition: all 0.3s ease;
}

.remove-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.name-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img-desc {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  height: 130px;
}

.circle {
  width: 17px;
  height: 17px;
  background-color: var(--neutral-0);
  border-radius: 100px;
}

.toggle-btn {
  width: 36px;
  height: 19px;
  background-color: var(--red400);
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: var(--red-700);
  transition: all 0.3s ease;
}

.toggle-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.inactive-toggle-btn {
  width: 36px;
  height: 19px;
  background-color: var(--neutral-600);
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
  cursor: pointer;
}

.inactive-toggle-btn:hover {
  background-color: hsla(226, 11%, 37%, 0.6);
  transition: all 0.3s ease;
}

.inactive-toggle-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.remove-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px 16px;
  margin: 32px 0 40px 0;
}

.card {
  background-color: var(--neutral-800);
  padding: 16px;
  border-radius: 20px;
  border: 1px solid var(--neutral-600);
}

/* ============= */
/* === LIGHT Mode === */

.light-h1 {
  font-size: 32px;
  color: var(--neutral-900);
}

.light-nav {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-100);
  box-shadow: 1px 1px 2px rgba(47, 47, 47, 0.1);
  display: none;
}

.lightmode-btn {
  display: flex;
  padding: 10px;
  background-color: var(--neutral-100);
  border-radius: 10px;
  cursor: pointer;
}

.lightmode-btn:hover {
  background-color: hsla(226, 11%, 37%, 0.4);
  transition: all 0.3s ease;
}

.lightmode-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.light-three-btns {
  display: none;
  gap: 10px;
}

.light-active-btn {
  background-color: var(--red-700);
  border: none;
  padding: 10px 20px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 500;
  min-width: 80px;
  font-size: 18px;
  border-radius: 100px;
  color: var(--neutral-0);
  cursor: pointer;
}

.light-active-btn:hover {
  background-color: var(--red400);
  transition: all 0.3s ease;
}

.light-active-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.light-inactive-btn {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-100);
  box-shadow: 1px 1px 2px rgba(47, 47, 47, 0.1);
  padding: 10px 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: var(--neutral-700);
  cursor: pointer;
}

.light-inactive-btn:hover {
  background-color: hsl(0, 0%, 97%);
  color: hsla(226, 11%, 37%, 0.7);
  transition: all 0.3s ease;
}

.light-inactive-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.light-card {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-100);
  box-shadow: 1px 1px 2px rgba(47, 47, 47, 0.1);
  padding: 16px;
  border-radius: 20px;
}

.light-name {
  font-size: 20px;
  font-weight: 600;
  color: var(--neutral-800);
}

.light-description {
  color: var(--neutral-400);
}

.light-remove-btn {
  background: none;
  border: 1px solid hsla(226, 11%, 37%, 0.5);
  font-family: "Noto Sans", sans-serif;
  color: var(--neutral-600);
  padding: 8px 12px;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}

.light-remove-btn:hover {
  background-color: var(--red-700);
  color: var(--neutral-0);
  transition: all 0.3s ease;
}

.light-remove-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.light-toggle-btn {
  width: 36px;
  height: 19px;
  background-color: var(--red-700);
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
  cursor: pointer;
}

.light-toggle-btn:hover {
  background-color: var(--red500);
}

.light-toggle-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}

.inactive-toggle-btn {
  width: 36px;
  height: 19px;
  background-color: var(--neutral-600);
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
  cursor: pointer;
}

.light-inactive-toggle-btn {
  width: 36px;
  height: 19px;
  background-color: var(--neutral-300);
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
  cursor: pointer;
}

.light-inactive-toggle-btn:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--red400);
  outline-offset: 1.3px;
}
